<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arnela.meetsarajevoib140265">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="helper.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_sebiljicon"
        android:label="Sarajevo"
        android:roundIcon="@mipmap/ic_sebiljicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"></activity>
        <activity
            android:name=".RegistracijaActivity"
            android:noHistory="true"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity
            android:name=".DetaljiActivity"
            android:noHistory="true"></activity>
        <activity
            android:name=".PodesavanjeProfilaActivity"
            android:noHistory="true" />
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>